<configuration>
  <property name="RSTMANAGER_LOG_LEVEL" value="${RSTMANAGER_LOG_LEVEL:-INFO}" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.github.nicolasfara.rstmanager" level="${RSTMANAGER_LOG_LEVEL}" />

  <root level="${RSTMANAGER_LOG_LEVEL}">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
